* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./SL-032722-49310-21.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  width: 98vw;
  direction: rtl;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 30px;
  font-size: 6rem;
}

h3 {
  margin: 35px;
  font-size: 2rem;
}

div {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px;
  padding: 30px;
  width: 40vw;
}

#question {
  margin-bottom: 10px;
}

label {
  font-size: 1.2rem;
}

#question {
  font-weight: bold;
}

input {
  margin-bottom: 15px;
}

hr {
  margin-bottom: 8px;
  margin-top: 8px;
}

button {
  margin: 25px;
  border: 1px solid #000;
  box-shadow: 1px 1px 3px #000;
  border-radius: 20px;
  padding: 6px;
  width: 100px;
  font-size: 1.2rem;
  font-weight: bold;
}

#result {
  font-size: 1.5rem;
  font-weight: bold;
}

button:active {
  box-shadow: 0px 0px 0px;
}

@media (max-width: 1000px) {
  div {
    width: 80vw;
  }
}
@media (max-width: 500px) {
  label {
    font-size: 1rem;
  }
  h1 {
    font-size: 4.5rem;
  }
  #result {
    font-size: 1.1rem;
  }
}
@media (max-width: 300px) {
  label {
    font-size: 0.8rem;
  }
  #result {
    font-size: 1rem;
  }
}
