.contact {
  width: $basewidth;
  background-color: rgb(60, 60, 60);
  background-image: url(../images/Rectangle\ 41.png);
  background-repeat: no-repeat;
  margin: 0 auto;
}

form {
  direction: rtl;
  text-align: right;
  width: 270px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: $basefont;
  margin-left: 65vw;
  margin-right: 5vw;
  color: #fff;
}

.formt {
  color: #fff;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
}

form input {
  border: 0;
  border-radius: 0;
  border-bottom: 3px solid $basecolor;
  height: 30px;
  margin-bottom: 20px;
}

form .button {
  background-color: $basecolor;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 20px;
  line-height: 1.8;
  width: 130px;
}

@media (max-width: 700px) {
  .contact {
    background-image: none;
  }

  form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 250px;
  }
}
