body {
    background: transparent linear-gradient(180deg, #281EFF 0%, #2DFF8C 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}